[submodule "assets/js/m3"]
	path = assets/js/m3
	url = ssh://git@phabricator.magic3w.com/source/M3JS.git
[submodule "assets/scss/_"]
	path = assets/scss/_
	url = ssh://git@phabricator.magic3w.com/source/underscoreSCSS.git
