
<div data-lysine-view="country-multiple">
	<!-- The stops element contains the previous stops the user wishes to make-->
	<div id="stops">
		<div class="stop" data-lysine-view data-for="stops">
			<div class="row s3 l8 ng">
				<input type="hidden" class="target" data-for="ISO" >
				<input type="hidden" class="reason" data-for="reason">
				<div class="span s1 l1" style="text-align: center">
					<span class="dot"></span>
				</div>
				<div class="span s2 l6">
					<span class="caption" data-for="name">Country</span>
					<span class="reason" data-for="reason" style="color: #777; background: #CCC; border-radius: 4px; display: inline-block; padding: .1rem .3rem; font-size: .8em">Reason</span>
				</div>
				<div class="span s1 l1" style="font-weight: bold; text-align: center;">
					<a class="remove" >&times;</a>
				</div> 
			</div>
		</div>
	</div>
	
	<form id="target-country-form" >
		<div class="row s3 l8">
			<div class="span l1 desktop-only">
				<div class="padding-correction" style="padding: .4rem; text-align: center">
					<img src="assets/img/plane.png" width="32" style="width: 32px" alt="Airplane" />
				</div>
			</div>
			<div class="span s1 l3">
				<input type="hidden" name="country" class="autocomplete-target target" id="target" data-placeholder="Ihr Zielland">
			</div>
			<div class="span s1 l3">
				<select id="reason" class="frm-ctrl reason">
					<option value="tourist">Tourist / Urlauber</option>
					<option value="business">Business</option>
					<option value="student">Student</option>
				</select>
			</div> 
			<div class="span s1 l1" style="font-weight: bold; text-align: center;">
				<div style="padding: .65rem 0; cursor: pointer;">
					<a class="remove" id="reset-target">&times;</a>
				</div>
			</div> 
		</div>

	</form>
	
	<div id="add-stop" style="color: #01b1d7; background: #FFFFFF; display: none; cursor: pointer; font-weight: bolder; padding-top: .5rem; padding-bottom: .5rem;">
		<div class="row l8 s4 ng">
			<div class="span l1 s1 not-mobile" style="text-align: center;">
				<span style="text-align: center; background: #01b1d7; color: #FFFFFF; border-radius: 50%; display: inline-block; height: 1rem; width: 1rem; line-height: .9rem;">+</span>
			</div>
			<div class="span l7 s3">
				Weiteres Land
			</div>
		</div>
	</div>
	
	<div class="spacer" style="height: 10px"></div>
</div>
