
<div class="row l2">
	<div class="span l1">
		
		<h2  style="padding: 0; margin-top: 0;">Visum Finder 2.0</h2>
		<p class="secondary" style="padding: 0; margin-top: 0;">
			Ermitteln Sie mit wenigen Klicks, ob f&uuml;r eine Individual-, Gruppen-, oder Multistage Reise
			Visumpflicht besteht.
		</p>
		
		<div class="spacer" style="height: 20px"></div>
		
		<h2 style="padding-left: .3rem;">Personen</h2>
		<div class="wrapper">
			<div class="spacer" style="height: 4px"></div>
			<div id="passports"></div>
			<div class="spacer" style="height: 8px"></div>
		</div>
		<div class="wrapper transparent" id="passenger-error">
			<div class="spacer" style="height: 10px"></div>
			<div class="info-message">
				<strong>Wer soll mitfliegen?</strong> Gib einen Namen (dieser kann auch
				ein Nickname sein) und wähle deine Staatsangehorigkeit. Bestatige 
				deine Eingabe dann mit OK.
			</div>
		</div>
		
		<div class="spacer" style="height: 20px"></div>
		
		<h2 style="padding-left: .3rem;">Ziele</h2>
		<div class="wrapper">
			<div class="spacer" style="height: 8px"></div>
			<div id="destination"></div>

		</div>
		<div class="wrapper transparent" id="country-error" style="display: none">
			<div class="spacer" style="height: 10px"></div>
			<div class="info-message">
				<strong>Wohin soll die Reise gehen?</strong> Suche das Zielland aus, 
				unser Visaexperte hilft dir das richtige Visum zu finden.
			</div>
		</div>
		<div class="spacer" style="height: 50px"></div>
		<div id="output" ></div>
	</div>
	<div class="span l1 desktop-only">
		<div id="map"></div>
		<div class="spacer" style="height: 50px"></div>
		<div class="wrapper" style="padding: 0">
			<div id="regulations"></div>
		</div>
	</div>
</div>

<div class="spacer" style="height: 100px"></div>

<footer>
	<div class="row l1">
		<div class="span l1" style="text-align: right;">
			<div class="separator"></div>
			<div class="spacer" style="height: 10px"></div>
			<p class="secondary">
				&copy; 2019 Visa-gate.com | Alle Angaben ohne Gewähr
			</p>
		</div>
	</div>
</footer>