
<div class="row l2">
	<div class="span l1">
		<div class="wrapper">
			<div class="spacer" style="height: 4px"></div>
			<div id="passports"></div>
			<div class="spacer" style="height: 8px"></div>
			<div class="separator"></div>
			<div class="spacer" style="height: 8px"></div>
			<div id="destination"></div>

		</div>
		<div class="wrapper transparent" id="country-error">
			<div class="spacer" style="height: 10px"></div>
			<div class="info-message">
				<strong>Wohin soll die Reise gehen?</strong> Suche das Zielland aus, 
				unser Visaexperte hilft dir das richtige Visum zu finden.
			</div>
		</div>
		<div class="spacer" style="height: 50px"></div>
		<div id="output" ></div>
	</div>
	<div class="span l1 desktop-only">
		<div id="map"></div>
		<div class="spacer" style="height: 50px"></div>
		<div class="wrapper" style="padding: 0">
			<div id="regulations"></div>
		</div>
	</div>
</div>