
<template  data-lysine-view="country-multiple">
<div>
	<!-- The stops element contains the previous stops the user wishes to make-->
	<div id="stops">
		<template  data-lysine-view data-for="stops">
			<div class="stop">
				<div class="row s5 l8 ng">
					<input type="hidden" class="target" data-for="ISO" >
					<input type="hidden" class="reason" data-for="reason">
					<div class="span s1 l1" style="text-align: center">
						<img data-lysine-src="{{flag}}" style="height: 18px; border-radius: 50%; box-shadow: 0 0 3px #CCC; vertical-align: middle;">
					</div>
					<div class="span s3 l6" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
						<span class="caption" data-for="name">Country</span>
						<span class="reason" data-for="reason" style="color: #777; background: #CCC; border-radius: 4px; display: inline-block; padding: .1rem .3rem; font-size: .8em">Reason</span>
					</div>
					<div class="span s1 l1" style="font-weight: bold; text-align: center;">
						<a class="remove clickable" >&times;</a>
					</div> 
				</div>
			</div>
		</template>
	</div>
	
	<div data-condition="count(stops) != 0">
		<div class="spacer" style="height: 10px"></div>
		<div class="separator dashed"></div>
		<div class="spacer" style="height: 10px"></div>
	</div>
	
	<form id="target-country-form" >
		<div class="row s5 l8">
			<div class="span l1 desktop-only">
				<div class="padding-correction" style="padding: .4rem; text-align: center">
					<img src="assets/img/plane.png" width="32" style="width: 32px" alt="Airplane" />
				</div>
			</div>
			<div class="span s5 l3">
				<input type="hidden" name="country" class="autocomplete-target target" id="target" data-placeholder="<?= $translations['Your destination'] ?>">
			</div>
			<div class="span s4 l3">
				<select id="reason" class="frm-ctrl reason">
					<option value="tourist"><?= $translations['Tourist'] ?></option>
					<option value="business"><?= $translations['Business'] ?></option>
					<option value="student"><?= $translations['Student'] ?></option>
				</select>
			</div> 
			<div class="span s1 l1" style="font-weight: bold; text-align: center;">
				<a class="button fixed-height disabled" id="commit-stop" style="width: 100%; text-align: center;">OK</a>
			</div> 
		</div>

	</form>
	
	<div id="add-stop" style="color: #01b1d7; background: #FFFFFF; display: none; cursor: pointer; font-weight: bolder; padding-top: .5rem; padding-bottom: .5rem;">
		<div class="row l8 s4 ng">
			<div class="span l1 s1 not-mobile" style="text-align: center;">
				<span style="text-align: center; background: #01b1d7; color: #FFFFFF; border-radius: 50%; display: inline-block; height: 1rem; width: 1rem; line-height: .9rem;">+</span>
			</div>
			<div class="span l7 s3">
				<?= $translations['Add country'] ?>
			</div>
		</div>
	</div>
	
	<div class="spacer" style="height: 10px"></div>
</div>
</template>
