
<template data-lysine-view="map">
	<div id="map" style="background-color: #01b1d7; padding:16px;">
		<img src="assets/img/map.svg" id="mapimg" alt="<?= $translations['World map'] ?>">
		<template data-lysine-view data-for="stops">
			<div>
				<div class="discovery-form-header" id="marker" style="left: 0; top: 0" data-lysine-style="left: {{offsetX}}px; top: {{offsetY}}px" >
					<span class="dot"></span>
					<span data-condition="bool(label) == true" class="country" id="label" data-for="name"><?= $translations['Where do you wish to travel?'] ?></span>
				</div>
			</div>
		</template>
	</div>
</template>
