
<template data-lysine-view="multiple-people">
<div>
	<template  data-lysine-view data-for="passengers">
		<div class="passenger">

			<div class="row l8 s5">
				<div class="span l1 s1" style="font-weight: bold; text-align: center;">
					<div class=" padding-correction">
						<img data-lysine-src="{{flag}}" style="height: 18px; border-radius: 50%; box-shadow: 0 0 3px #CCC; vertical-align: middle;">
					</div>
				</div>
				<div class="span l6 s3">
					<div class="padding-correction" style="padding-left: 0;">
						<span  data-for="name"></span>
						<span data-for="country" class="desktop-only" style="color: #777; background: #CCC; border-radius: 4px; display: inline-block; padding: .1rem .3rem; font-size: .8em"></span>	
					</div>
				</div>
				<div class="span l1 s1" style="font-weight: bold; text-align: center;">
					<div class=" padding-correction">
						<a class="remove clickable">&times;</a>
					</div>
				</div>
			</div>

			<div class="spacer" style="height: 10px"></div>
			<div class="separator dashed"></div>
			<div class="spacer" style="height: 10px"></div>
		</div>
	</template>
	
	
	<div class="row l8" id="passenger-form">
		<div class="span l1 desktop-only">
			<div class="padding-correction" style="padding: .4rem; text-align: center">
				<img src="assets/img/person.png" width="32" style="width: 32px" alt="Airplane" />
			</div>
		</div>
		<div class="span l3">
			<input type="text" id="passenger-name" name="name" class="frm-ctrl" placeholder="<?= $translations['Passenger name'] ?>" >
		</div>
		<div class="span l3">
			<input type="hidden" class="frm-ctrl autocomplete-passport" name="passport" data-placeholder="<?= $translations['Nationality'] ?>">
		</div>
		<div class="span l1 s1" style="text-align: center">
			<button class="button fixed-height disabled" tabindex="0" id="add-person" style="width: 100%; text-align: center;">OK</button>
		</div>
	</div>
	
	
	
	<div id="passenger-new" style="color: #01b1d7; background: #FFFFFF; display: none; cursor: pointer; font-weight: bolder; padding-top: .5rem; padding-bottom: .5rem;">
		<div class="row l8 s4 ng">
			<div class="span l1 s1 not-mobile" style="text-align: center;">
				<span style="text-align: center; background: #01b1d7; color: #FFFFFF; border-radius: 50%; display: inline-block; height: 1rem; width: 1rem; line-height: .9rem;">+</span>
			</div>
			<div class="span l7 s3">
				<?= $translations['Add passenger'] ?>
			</div>
		</div>
	</div>
</div>
</template>