
<template data-lysine-view="regulation">
<div>
	
	<div data-condition="count(regulations)!= 0"  style="background: #FAFAFA; border-bottom: solid 1px #CCC;">
		
		<div class="spacer" style="height: 10px"></div>
		<h2 style="text-align: center;">✔️ <?= $translations['Your checklist'] ?></h2>
		<template data-lysine-view data-for="regulations">
			<div>
				<div class="spacer" style="height: 10px"></div>
				<div class="wrapper transparent">
					<div class="visa-result">
						<span class="title" data-for="country.name"><?= $translations['Country'] ?></span>
					</div>

					<div class="considerations">
						<template data-lysine-view data-for="considerations">
							<div class="consideration">
								<div class="row l7 s4">
									<div class="span l1 s1" style="text-align: right">
										<img class="icon" src="assets/img/considerations/health.png" data-lysine-src="{{icon}}">
									</div>
									<div class="span l6 s3">
										<span class="caption" data-for="headline">Gelbfieber Impfung</span>
										<span class="description" data-for="msg" style="white-space: pre-wrap">Wenn sie aus einem Land mit Gelbfieber kommen</span>
									</div>
								</div>
								<div class="spacer" style="height: 10px"></div>
							</div>
						</template>

					</div>
				</div>
				<div class="spacer" style="height: 10px"></div>
			</div>
		</template>
	</div>
	
	<div data-condition="count(regulations) == 0" style="padding: 10px">
		<h2><?= $translations['Need help requesting your visa?'] ?></h2>
		<p class="secondary">
			<?= $translations['Welcome to our visa locator tool'] ?>! 
			<?= $translations['Simply enter the destination and findout whether you need a visa in seconds']?>.
		</p>
		
		<p class="secondary">
			<?= $translations['If you need further assistance, please contact our support using our toll-free number']?>: <strong>0800 84724283</strong>
		</p>
	</div>
</div>
</template>