
<div class="row l2">
	<div class="span l1">
		
		
		<div id="step1">
			<div class="spacer" style="height: 20px"></div>

			<h2 style="padding-left: .3rem;"><?= $translations['Passengers'] ?></h2>
			<div class="wrapper">
				<div class="spacer" style="height: 4px"></div>
				<div id="passports"></div>
				<div class="spacer" style="height: 8px"></div>
			</div>
			<div class="wrapper transparent" id="passenger-error">
				<div class="spacer" style="height: 10px"></div>
				<div class="info-message">
					<strong><?= $translations['Who is flying?'] ?></strong> 
					<?= $translations['Enter your name (this may also be a nickname) and select your nationality'] ?>. 
					<?= $translations['Confirm by pressing OK']?>
				</div>
			</div>
		</div>
		
		<div id="step2" style="display: none">
			<div class="spacer" style="height: 20px"></div>

			<h2 style="padding-left: .3rem;">Ziele</h2>
			<div class="wrapper">
				<div class="spacer" style="height: 8px"></div>
				<div id="destination"></div>

			</div>
			<div class="wrapper transparent" id="country-error" style="display: none">
				<div class="spacer" style="height: 10px"></div>
				<div class="info-message">
					<strong><?= $translations['Where are you travelling to?'] ?></strong> 
					<?= $translations['Select a destination. Our visa finder will help you find the right visa for you'] ?>.
				</div>
			</div>
			<div class="spacer" style="height: 50px"></div>
			<div id="output" ></div>
			<div id="export" ></div>
		</div>
	</div>
	<div class="span l1 desktop-only">
		<div id="map"></div>
		<div class="spacer" style="height: 50px"></div>

		<div style="border-radius: .3rem; background: #F0E69B; color: #706B26; padding: .2rem .5rem; font-size: .7rem">
			<h2 style="color: #706B26;">Mit aktuellen Informationen zu COVID 19</h2>
			<p>Alle Angaben ohne Gewähr - Teilweise Maschinell übersetzt - Stand: <span id="covid-update-time">--:--</span></p>
		</div>

		<div class="spacer" style="height: 50px;"></div>

		<div class="wrapper" style="padding: 0">
			<div id="regulations"></div>
		</div>
	</div>
</div>

<div class="spacer" style="height: 100px"></div>

<footer>
	<div class="row l1">
		<div class="span l1" style="text-align: right;">
			<div class="separator"></div>
			<div class="spacer" style="height: 10px"></div>
			<p class="secondary">
				&copy; <span class="current-year"></span> Visa-Gate.com | <?= $translations['No responsibility is accepted for the accuracy of this information'] ?> | <a target="_blank" href="https://www.visa-gate.com/de/impressum"><?= $translations['Imprint'] ?></a>
			</p>
		</div>
	</div>
</footer>
